.img-card {
  list-style: none;
  /* display: inline-block; */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  width: 30%;
  height: 30%;
}

.photo-card {
  display: flex;
}

.material-icons {
  color: rgb(96, 96, 236);
}

.search-form-input {
  width: 500px;
  height: 40px;
  font-size: 30px;
}
